<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>Twoje gry</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div id="sideBar">
            <div id="userInfo">
                <div>
                    <h2>{{ user.first_name}} {{ user.last_name }}</h2>
                    <p>zalogowano</p>
                </div>
                <a class=button href="{% url 'logout' %}"><img class="icon" src="{% static "icons/logout.png" %}" /></a>
            </div>
            {% with request.resolver_match.view_name as view_name %}
                <div class="verticalList">
                    <a class="item {% if view_name == "manage_rentals" %}selected {% endif %}nav" href="/manage_rentals">Zarządzaj wypożyczeniami</a>
                    <a class="item {% if view_name == "manage_copies" %}selected {% endif %}nav" href="/manage_copies">Zarządzaj egzemplarzami</a>
                    <a hx-get="/manage_games_choose_action" hx-trigger="click" hx-target="#window" hx-swap="innerHTML" hx-on::after-request="showWindow()" class="item {% if view_name == "manage_games" %}selected {% endif %}nav" href="/manage_games_choose_action">Zarządzaj grami</a>
                    <a hx-get="/manage_clients_choose_action" hx-trigger="click" hx-target="#window" hx-swap="innerHTML" hx-on::after-request="showWindow()" class="item {% if view_name == "manage_clients" %}selected {% endif %}nav" href="/manage_clients_choose_action">Zarządzaj klientami</a>
                    
                </div>
            {% endwith %}

        </div>
    {% endif %}
    <div id="main">
        <div id="topBar">
            <div>
                <p class="secondary">{% block path %}{% endblock path%}</p>
                <h2>{% block title %}{% endblock title %}</h2>
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
        <div id="windowBackground" class="windowBackground">
            <div id="window"></div>
        </div>

    </div>

</body>
</html>
<style>
    @font-face {
    font-family: 'Inter';
    src: url({% static 'Inter-variable.ttf' %}) format('truetype');
}
</style>
<script src="{% static 'htmx.min.js' %}" defer></script>
<script>
    function showWindow() {
        document.getElementById("windowBackground").style.display = "block";
        document.getElementById("window").style.display = "block";
    }
    function closeWindow() {
        document.getElementById("windowBackground").style.display = "none";
        document.getElementById("window").style.display = "none";
    }
</script>
