{% extends "base.html" %}
{% block path %}Zarządzaj klientami{%endblock path%}
{% block title %}Wybierz klienta{% endblock title %}
{% load static %}
{% block content %}
    <div class="verticalList">
    {% for client in clients %}
    <div class="item">
        <span>{{client.name}} {{client.surname}}</span>
        <span>{{client.phone_number}}</span>
        <span>{{client.email}}</span>
        <div>
            <button hx-get="edit/{{ client.id }}" hx-trigger="click" hx-target="#window" hx-swap="innerHTML" hx-on::after-request="showWindow()"><img class="icon" src="{% static 'icons/edit.png' %}" /></button>
            <button hx-get="delete/{{ client.id }}" hx-trigger="click" hx-target="#window" hx-swap="innerHtml" hx-on::after-request="showWindow()"><img class="icon" src="{% static 'icons/delete.png' %}" /></button></div>
    </div>
       
    {% endfor %}
    </div>



{% endblock content %}
