{% extends "base.html" %}

{% block path %}Zarządzaj wypożyczeniami{%endblock path%}
{% block title %}Wypełnij formularz{% endblock %}

{% block content %}
    {{ errors }}
    <form method="POST" >
        {% csrf_token %}
        {{ rental_form.as_p }}
        <input class="button" type="submit" value="Przejdź do płatności">
    </form>
    {% if payment is not None %}
        {% if payment %}
            <p>Udało się zapłacić</p>
        {% else %}
            <p>Nie udało się zapłacić</p>
        {% endif %}
    {% endif %}

{% endblock content %}
